

.contact-title {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: #333;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-box {
    flex: 1;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.image-box img {
    max-width: 80%;
    height: auto;
    display: block;
}

.image-des {
    background-color: #004AAD;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width:60%;
    position:absolute;
    right:15%;
    bottom:10%;
}

.contact-form-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.form-btn {
    width: 100%;
    padding: 10px;
    background-color: #004AAD;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .image-box {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


